* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/*---------Menu------------*/
body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    width: 100%;
    transition: background 0.2s linear;
}

body.dark {
    background:#142727;
    color: aliceblue;
}

body.dark .container 
.card 
.box {
  background: #393838;
}

body.dark footer {
  background: #5c7976;
}

body.dark .ag-courses-item_link {
  background-color: #000000;
}

body.dark .ag-courses-item_title{
  color: #ffffff;
}

body.dark .ag-courses-item_date-box {
  color: #fafafa;
}

body.dark
.ag-courses-item_date {
  color: #eddb60;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: black;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transition: scale(1.5);
}

.label .ball {
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: rgb(91, 187, 250);
}

.fa-sun {
    color: rgb(230, 183, 30);
}

header {
    padding: 33px 9%;
    position: fixed;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #5c7976;
    color: #b52b2b;
    z-index: 1000;
    align-items: center;
    display: flex;
    top: 0;

}

.logotipo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #ebebb3;
    font-family: 'Skranji', cursive;
}

.logotipo a:hover,
.logotipo a::after,
.logotipo a :visited,
.logotipo a :link {
    color: #af6c6c;
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 10px 23px;
    font-size: 25px;
    color: white;
    background: #056116;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}


nav {
    display: flex;
    justify-content: center;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(227, 227, 227, 0.395);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.dropdown {
    float: right;
    top: 0%;
}

.dropdown .dropbtn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;

    color: #1e5c21;

    border: none;
    outline: none;
    padding: 10px 25px;
}

.dropdown .dropbtn a {
    color: #ebebb3;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-transform: lowercase;
    font-family: 'Darumadrop One', cursive;
}

button {
    background-color: transparent;
    margin-right: 5px;
    margin-top: 5px;
}

.dropdown .dropbtn a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.181);
}

.dropdown .dropbtn a::first-letter {
    text-transform: uppercase;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #1a491b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid #000000;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.darkmode {
    position: relative;
    float: right;
    margin-top: -5.8%;
    margin-right: -8%;
    margin-left: 8%;
    justify-content: flex-end;
}
/*-------------------------*/

.ag-format-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 180px;
  }
  

  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #e3e3d1;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #000000;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #000000;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #776039;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #a48f6a;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #eee6ab;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #c5bc8e;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #696758;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #45484b;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #36393b;
  }
  

  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  /*----------FIM-----------*/
footer {
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 20vh;
  background: #c3c2c2;
  text-align: center;
  color: rgb(58, 58, 58);

width: 100%;
}

.identificacao {
  margin-top: 2%;
}

.conjuntoLOGO {
  display: flex;
  justify-content: space-between;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 1%;
}

.conjuntoLOGO i {
  transition: all .50s ease;
}

.conjuntoLOGO i:hover {
  transform: translateX(-5px);
}

.moreLogo1 a,
.moreLogo2 a,
.moreLogo a,
.moreLogo4 a,
.moreLogo5 a {
  text-decoration: none;
  font-size: 25px;
  color: #000000;
}

.moreLogo1 i:hover,
.moreLogo2 i:hover,
.moreLogo i:hover,
.moreLogo4 i:hover,
.moreLogo5 i:hover {
  transform: translateX(-10px);
}

.conjuntoPalavra {
  text-decoration: none;

  display: flex;
  justify-content: space-between;

  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
}

.palavra1 a,
.palavra2 a,
.palavra3 a,
.palavra4 a,
.palavra5 a {
  text-decoration: none;
  color: #554a4a;
}

/*----------modoTelefone-------------*/

@media (max-width :1535px) {
  header {

      transition: .2s;
  }
  .startWords{
      font-size: 1.1rem;
  }
  .scroll-down {
      right: 3%;
      transition: .2s;
  }
  .fraseIntroduzida img {
      height: 250px;
      width: 450px;
  }
  .tabelaExercicio>label {
      font-weight: 500;
  
      position: relative;
      display: inline-block;
  
      border: 1px solid transparent;
      border-bottom: 0;
  
      padding: 13px 68px 33px;
      cursor: pointer;
  }
  .tabelaExercicio>label::after {
      content: "";
      background: #8d8d8d;
  
      position: absolute;
      width: 50px;
      height: 2px;
      left: 13px;
      bottom: 18px;
  }
}

@media (max-width :1460px) {
  .logotipo a{
      font-size: 40px;
  }
}

@media (max-width :1154px) {

  .logotipo a{
      font-size: 36px;
  }

  #menu-icon{
      display: block;
      font-size: 45px;
      text-align: justify;
  }

  .bx{
      float: right;
  }

  nav{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 40vh;
      background:#5c7976;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
  }

  nav a{
      display: block;
      margin: 7px 0;
      margin-left: 0;
  }

  nav.open{
      right: 0;
  }


}

@media (max-width :990px) {
  #menu-icon{
      display: block;
  }

  nav{
      position: absolute;
      top: 100%;
      right: 100%;
      width: 300px;
      height: 40vh;
      background: #5c7976;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all .55s ease;
  }

  nav a{
      display: block;
      margin: 7px 0;
      margin-left: 0;
  }

  nav.open{
      right: 0;
  }
}

@media (max-width : 450px) {
  .motivationWords{
      font-size: 30px;
  }


  #botoes {
      position: absolute;
      left: 10%;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
  }

  .conjuntoPalavra {
      font-size: 14px;
      margin-left: 15%;
      margin-right: 15%;
      padding: 12px;
  }

  .conjuntoLOGO {
      margin-left: 35%;
      margin-right: 35%;
      margin-top: 2%;
  }

  #inicio{
      font-size: 15px;
  }
  
}