* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark {
    background: rgb(7, 25, 43);
    color: aliceblue;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: black;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transition: scale(1.5);
}

.label .ball {
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: rgb(91, 187, 250);
}

.fa-sun {
    color: rgb(230, 183, 30);
}

header {
    padding: 33px 9%;
    position: fixed;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(23, 65, 30, 0.733);
    color: #b52b2b;
    z-index: 1000;
    align-items: center;
    display: flex;

}

.logotipo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #d6ce2a;
}

.logotipo a:hover,
.logotipo a::after,
.logotipo a :visited,
.logotipo a :link {
    color: #af6c6c;
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 10px 23px;
    font-size: 25px;
    color: white;
    background: #056116;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}


nav {
    display: flex;
    justify-content: center;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(227, 227, 227, 0.395);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.dropdown {
    float: right;
    top: 0%;
}

.dropdown .dropbtn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;

    color: #1e5c21;

    border: none;
    outline: none;
    padding: 10px 25px;
}

.dropdown .dropbtn a {
    color: rgb(228, 244, 59);

    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-transform: lowercase;
    font-family: 'Darumadrop One', cursive;
}

.dropdown .dropbtn a:hover {
    border-bottom: 2px solid white;
}

.dropdown .dropbtn a::first-letter {
    text-transform: uppercase;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #1a491b;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 2px solid #000000;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.darkmode {
    position: relative;
    float: right;
    margin-top: -5.8%;
    margin-right: -8%;
    margin-left: 8%;
    justify-content: flex-end;
}

/*--------------------------*/

/*----------MAIN-----------*/
.motivationWords {
    font-size: 40px;
    font-family: 'Darumadrop One', cursive;
    line-height: 1;
    margin: 0 0 45px;
}

main {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 100vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 19%;
}

article {
    height: 100vh;
    padding: 0 4vw;
  background-color: rgb(33, 82, 39);

}

.startWords {
    /* definindo altura e cor */
    font-size: 1.2rem;
    float: left;
    margin-top: 80px;
}

.calculadora {
    font-size: 1.8rem;
    border: 2px solid #000000;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}

.imagemFrase {
    font-size: 1.8rem;
    border: 2px solid #000000;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}

.inserirNome {
    font-size: 1.8rem;
    border: 2px solid #000000;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}

article.segundo {
    /* como tem menu e rodapé visíveis (10vh cada), define-se como altura 80vh. */
    height: 90vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: start;
}


.motivationWords,
.startWords,
.startImage {}

/*--------------------------*/

/*
 CSS for the main interaction
*/
.tabelaExercicio>input[type="radio"] {
    position: absolute;
    left: -200vw;

}

.tabelaExercicio .tabela-Informacao {
    display: none;
}

.tabelaExercicio>input:first-child:checked~.tabela-Informacaos>.tabela-Informacao:first-child,
.tabelaExercicio>input:nth-child(3):checked~.tabela-Informacaos>.tabela-Informacao:nth-child(2),
.tabelaExercicio>input:nth-child(5):checked~.tabela-Informacaos>.tabela-Informacao:nth-child(3),
.tabelaExercicio>input:nth-child(7):checked~.tabela-Informacaos>.tabela-Informacao:nth-child(4),
.tabelaExercicio>input:nth-child(9):checked~.tabela-Informacaos>.tabela-Informacao:nth-child(5),
.tabelaExercicio>input:nth-child(11):checked~.tabela-Informacaos>.tabela-Informacao:nth-child(6) {
    display: block;
}

.tabelaExercicio>label {
    font-weight: 600;

    position: relative;
    display: inline-block;

    border: 1px solid transparent;
    border-bottom: 0;

    padding: 15px 70px 35px;
    cursor: pointer;
}

.tabelaExercicio>label::after {
    content: "";
    background: #8d8d8d;

    position: absolute;
    width: 52px;
    height: 4px;
    left: 15px;
    bottom: 20px;
}

/*rato em cima*/
.tabelaExercicio>label:hover,
.tabelaExercicio>input:focus+label {
    color: #06c;
}

.tabelaExercicio>label:hover::after,
.tabelaExercicio>input:focus+label::after,
.tabelaExercicio>input:checked+label::after {
    background: #06c;
}

.tabelaExercicio>input:checked+label {
    border-color: #969696;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tabela-Informacao {
    border-top: 1px solid #ccc;

    padding: 40px 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.tabelaExercicio {
    font-size: 20px;
    max-width: 65em;
    margin-top: 21%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*------------Calculadora----------*/
button {
    background-color: transparent;
    margin-right: 5px;
    margin-top: 5px;
}

#botoes {
    position: absolute;
    left: 25%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

.botao {
    font-size: 25px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    width: 50px;
    height: 50px;

    cursor: pointer;
    color: #ffffff;

    margin-left: 5px;
    margin-bottom: 5px;
}

.botao:hover {
    background-color: #000000;
}

#botaoHorizontal {
    width: 106px;
}

#botaoIgual {
    width: 106px;
    height: 106px;
}

#resultado {
    background-color: #d6d5d5;
    border-radius: 10px;
    color: #000000;

    font-size: 25px;
    text-align: right;

    width: 270px;
    height: 39px;
    margin: 5px;
    padding: 5px;
}

/*------------Imagem-Frase----------*/

input {

    width: 35%;
    /*deixar só a linha de parte baixo*/
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(83, 83, 83);
    border: 1px solid #000000;

    margin-left: 30%;
    margin-top: -20%;

    align-items: center;
    justify-content: center;
}

.fraseMostrada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(129, 23, 23);
    font-size: 24px;
    text-align: center;
    display: none;
}

.fraseIntroduzida {
    position: relative;
    display: inline-block;

}


/*-----------------------*/



/*----------FIM-----------*/
footer {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 26vh;
    background: #c3c2c2;
    text-align: center;
    color: rgb(58, 58, 58);
}

.identificacao {
    margin-top: 2%;
}

.conjuntoLOGO {
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
}

.conjuntoLOGO i {
    transition: all .50s ease;
}

.conjuntoLOGO i:hover {
    transform: translateX(-5px);
}

.moreLogo1 a,
.moreLogo2 a,
.moreLogo a,
.moreLogo4 a,
.moreLogo5 a {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
}

.moreLogo1 i:hover,
.moreLogo2 i:hover,
.moreLogo i:hover,
.moreLogo4 i:hover,
.moreLogo5 i:hover {
    transform: translateX(-10px);
}

.conjuntoPalavra {
    text-decoration: none;

    display: flex;
    justify-content: space-between;

    margin-left: 30%;
    margin-right: 30%;
    padding: 13px;
}

.palavra1 a,
.palavra2 a,
.palavra3 a,
.palavra4 a,
.palavra5 a {
    text-decoration: none;
    color: #554a4a;
}

/*----------modoTelefone-------------*/

@media (max-width :1535px) {
    header {

        transition: .2s;
    }
    .startWords{
        font-size: 1.1rem;
    }
    .scroll-down {
        right: 3%;
        transition: .2s;
    }
    .fraseIntroduzida img {
        height: 250px;
        width: 450px;
    }
    .tabelaExercicio>label {
        font-weight: 500;
    
        position: relative;
        display: inline-block;
    
        border: 1px solid transparent;
        border-bottom: 0;
    
        padding: 13px 68px 33px;
        cursor: pointer;
    }
    .tabelaExercicio>label::after {
        content: "";
        background: #8d8d8d;
    
        position: absolute;
        width: 50px;
        height: 2px;
        left: 13px;
        bottom: 18px;
    }
}

@media (max-width :1460px) {
    .logotipo a{
        font-size: 40px;
    }
}

@media (max-width :1154px) {

    .logotipo a{
        font-size: 36px;
    }

    #menu-icon{
        display: block;
        font-size: 45px;
        text-align: justify;
    }

    .bx{
        float: right;
    }

    nav{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background:#185c32;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    nav a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    nav.open{
        right: 0;
    }


}

@media (max-width :990px) {
    #menu-icon{
        display: block;
    }

    nav{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #133b0f;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    nav a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    nav.open{
        right: 0;
    }
}

@media (max-width : 450px) {
    .motivationWords{
        font-size: 30px;
    }


    #botoes {
        position: absolute;
        left: 10%;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        text-align: center;
    }

    .conjuntoPalavra {
        font-size: 14px;
        margin-left: 15%;
        margin-right: 15%;
        padding: 12px;
    }

    .conjuntoLOGO {
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 2%;
    }

    #inicio{
        font-size: 15px;
    }
    
}